.App {
  text-align: center;
}


.App-header {
  background-color: #FEF7EA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #856B59;
}

.title{
  font-size: xx-large;
  color: #856B59;
}

.primary-button{
  padding: 10px 20px;
  margin: 5px;
  color: white;
  border-radius: 15px;
  background-color: #AACEA8;
  width: 18vw;
  min-width: 200px;
  text-align: center;
}

.secondary-button{
  padding: 10px 20px;
  margin: 5px;
  color: #856B59;
  border-radius: 15px;
  border: 2px solid #856B59;
  background-color: transparent;
  width: 18vw;
  min-width: 200px;
  text-align: center;
}

.logo {
  min-width: 30vw;
  display: block;
  margin-top: -7vw;
}

.boximg {
  min-width: 30vw;
}

p{
  margin-top: -7vw;
}

.primary-button:hover {
  background-color: #45a049; /* Slightly darker green on hover */
  transform: translateY(-5px); /* Subtle lift effect */
}

.secondary-button:hover {
  background-color: #e1cfb8; /* Slightly darker green on hover */
  transform: translateY(-5px); /* Subtle lift effect */
}




